{% set data = dev_menu() %}

<div class="dev-menu">
  <button
    class="dev-menu-btn"
    aria-label="Developer menu"
    type="button"
  >
    <svg
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M7 8L3 12L7 16" />
      <path d="M17 8L21 12L17 16" />
      <path d="M14 4L9.8589 19.4548" />
    </svg>
  </button>
  <div class="dev-menu-list-wrap">
    <ul class="dev-menu-list">
      {% for index, link in data %}
        <li class="dev-menu-item">
          <a
            href="{{ link.href }}"
            class="dev-menu-link {{ current_page == link.id ? "_active" : "" }}"
            aria-label="{{ "index" != link.id ? link.title : "home" }}"
          >
            {{ index + 1 }}. {{ ("index" != link.id ? link.title : "home") | capitalize }}
          </a>
        </li>
      {% endfor %}

      <li class="dev-menu-item">
        <a
          href="./icon/stack/sprite.stack.html"
          class="dev-menu-link"
          aria-label="SVG Sprite"
          target="_blank"
        >
          {{ data.length + 1 }}. SVG Sprite
        </a>
      </li>

    </ul>
  </div>
</div>
<style>
  {% include "./dev-menu.css" %}
</style>
<script>
  {% include "./dev-menu.js" %}
</script>